@model FileUploadVM

<div class="container">
    <h6>Banner Image</h6>
    <div asp-validation-summary="All"></div>
    <form asp-action="UploadBannerImage" asp-controller="Image" enctype="multipart/form-data" name="UploadBanner" method="post">
        <input type="hidden" asp-for="CourseId" />
        <input type="hidden" Name="Id" value="@Model.Id" />
        <div>
            <input asp-for="@Model.FormFile" type="file" class='type'>
            <span asp-validation-for="@Model.FormFile"></span>
            <br>
        </div>
        <br />
        <div class="">
            <div class="d-flex justify-content-start">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </div>
    </form>
</div>
