@model CourseVM

<div class="banner">
    <img id="banner" class="d-block w-100 p-1" style="max-height: 300px;" src="@Url.Action("GetBannerImage", "Image", new { id = Model.Id })" />
</div>

<script src="/lib/jquery.plugin.js"></script>
<script src="/lib/jquery.min.js"></script>
<script src="~/js/course-banner-error.js"></script>