@model CourseVM


<h1></h1>



<div>
    <h3 class="align-content-md-start">@Model.Name</h3>

    <div class="text-warning">
        <h3>@Model.Subject</h3>
    </div>

    <p>@Model.Description</p>

</div>