@model CourseVM

<head>
    <link rel="stylesheet" href="~/css/course-content.css" />
</head>
<h1>

</h1>
<div>
    <div class="course-header">
        <div class="course-container">
            <h1>@Model.Name</h1>
            <span>@Model.Subject</span>
        </div>
    </div>

    <div class="course-body">

        <div class="course-container">
            <p>@Model.Description</p>

        </div>
    </div>
</div>
