@model ICollection<CourseVM>


<h1>Courses</h1>

@foreach (var course in Model)
{
    <div>
        <h3>  <a asp-action="Request" asp-controller="Course" asp-route-id="@course.Id"> @course.Name </a> </h3>      
    </div>
}