@model ICollection<CourseVM>
    <div>
            <div class="md-form my-0 container p-2 m-2">
                <input id="searchField" onkeyup="searchList()" type="text" placeholder="Search" aria-label="Search">
            </div>
    </div>
<h1>Courses</h1>
<ul class="list-unstyled" id="list">
    @foreach (var course in Model)
    {
    <li>
            <h3>  <a asp-action="Preview" asp-controller="Course" asp-route-id="@course.Id"> @course.Name </a> </h3>
    </li>
    }
</ul>
<script src="~/js/search-list.js"></script>