@model ICollection<CourseVM>

<h1>My Courses</h1>

@if (Model.Count < 1)
{
<div>
    <h3>You have not yet registered for any courses</h3>
    <div>
        <h3>  <a class="btn btn-primary" asp-action="Index" asp-controller="Course">View Courses</a> </h3>
    </div>
</div>
}
@foreach (var course in Model)
{
    <div>
        <h3>  
            <a asp-action="Course" asp-controller="Course" asp-route-id="@course.Id"> @course.Name </a>
        </h3>
    </div>
}