@model ICollection<FeaturedCourseVM>
<ul class="list-unstyled">
    <li class="">
        <vc:course-banner-carousel featured="Top IT Courses This Month">
        </vc:course-banner-carousel>
    </li>
    <li class="">
        <vc:course-banner-carousel featured="Sharpen up on your Math skills">
        </vc:course-banner-carousel>
    </li>
</ul>
<div class="container">
    <form method="get" asp-action="AddFeatured" asp-controller="Featured">
    <button type="submit" class="btn btn-primary">Add Featured Course</button>
    </form>
</div>