body {


}


.course-header{


    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(238,238,238,1) 100%);
    color: #1498d5;
    padding: 2em;
    border-bottom: solid;
    border-color: #ccc;
}
.course-header div{

    display: inline-block;
}

.course-header span{
   color: #444;
   font-size: 3em;
   float: left;
   border-color: #DDD;
}

.course-body{

    color: #444;
    padding: 1em;
    font-style: italic;


}
.user-profile p {
    color: #1498d5;
}
.banner{

    width:100%;
}
