@model CourseCreateVM
@using System;
@using System.IO;
@using Newtonsoft.Json;

@{

    var currentPrice = ViewData["currentPrice"] as decimal?;


    currentPrice = Model.Price;
}
<div class="container">
    <div asp-validation-summary="All"></div>
    <form asp-action="create" name="create" method="post">
        <div class="form-group row">
            <div class="col-sm-3">
                <strong><label asp-for="Name"></label></strong>
            </div>
            <div class="col-sm-9">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <strong><label asp-for="CourseCode"></label></strong>
            </div>
            <div class="col-sm-9">
                <input asp-for="CourseCode" class="form-control" />
                <span asp-validation-for="CourseCode"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <strong><label asp-for="Subject"></label></strong>
            </div>
            <div class="col-sm-9">
                <div class="input-group">
                    <select asp-for="Subject">
                        @{
                            string dir = Directory.GetCurrentDirectory();
                            var path = System.IO.Path.Combine(dir, "wwwroot/json/course-subjects.json");
                            var subjectListString = File.ReadAllText(path);
                            var subjectList = JsonConvert.DeserializeObject<SubjectListVM>(subjectListString);

                        }
                        @foreach (var subject in subjectList.Subjects)
                        {
                            <option value="@subject.Name">@subject.Name</option>
                        }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <strong><label asp-for="Description"></label></strong>
            </div>
            <div class="col-sm-9">
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <strong><label asp-for="PaymentRequired"></label></strong>
            </div>
            <div class="col-sm-5">
                <input type="checkbox"  onchange="onChecked()" asp-for="PaymentRequired" class="form-check-input" id="paymentrequired">
                <label class="form-check-label" for="price-control">Paid Course</label>
                <span asp-validation-for="PaymentRequired"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-3">
                <strong><label asp-for="Price"></label></strong>
            </div>
            <div class="col-sm-3 form-inline">
                <span class="col-sm-1 input-group-addon">$</span>
                <input asp-for="Price" id="price-control" onchange="onPriceChange()" class="form-control" disabled />
                <span asp-validation-for="Price"></span>
            </div>
        </div>
        <div class="">
            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
            <div class="alert-info" id="alert" style="display:block">
                <p>This course will be registered as a free course. This cannot be changed later!</p>
            </div>
    </form>
</div>

@{


}

@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/js/form-validation.js"></script>
    <script type="text/javascript" src="~/json/course-subjects.json"></script>
    <script src="~/js/subject-field-dropdown.js"></script>
    <script src="~/js/price-field-change.js"></script>
}
