@model ICollection<CourseVM>


<h1>Authored Courses</h1>

@foreach (var course in Model)
{
    <div>
        <h3>  @course.Name <a asp-action="Edit" asp-controller="Course"  asp-route-id="@course.Id"><i class="fas fa-edit"></i></a> </h3>
    </div>
}