
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container text-primary">
    <h1>Checkout</h1>
</div>
<div class="container"> 
    <div class="alert-warning">Notice!</div>
    <p class="text-danger">This page is just for verifying that AuthorizeNet transaction processing works. All credentials provided are the testing credentials given by AuthorizeNet to test in their sandbox. The app will not attempt process any user credit card or other private information at this time</p>
</div>
