@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to Course App Cloud </h2>
   
</div>
<div>

    <a asp-action="create" asp-controller="Course" class="btn btn-primary">Register New Course</a>
</div>
