@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h2 class="display-4">Welcome to Course App </h2>

</div>

@await Html.PartialAsync("~/Views/Shared/_CarouselPartial.cshtml")

@if (User.Identity.IsAuthenticated)
{
    <div>
        <a asp-action="create" asp-controller="Author" class="btn btn-primary">Register New Course</a>
    </div>
}



