@model CourseEditVM
<div class="container col-6" style="overflow-y: scroll; height:400px;">
    <div class="container p-3">
        <input type="text" id="searchField" onkeyup="myFunction()" placeholder="Search user by name...">
    </div>
    <ul class="list-unstyled" id="namesList">
        @{
            var name = "";
            if (Model.Users.Count > 0)
            {
                @foreach (var uc in Model.Users)
                {
                    if (!(uc.User.DisplayName == default))
                    {
                        // name is DisplayName
                        name = uc.User.DisplayName;
                    }
                    else
                    {
                        // name is User's First and Id
                        name = $"{uc.User.FirstName}_{uc.User.Id}";
                    }
        <li class="list-group-item">@name<a href="#"><i class="fas fa-envelope float-right align-baseline"></i></a></li>
                 
                }
            }
        }
    </ul>
</div>
<div class="container col-6">
    <strong>@($"Users currently registered for this course: { Model.Users.Count}")</strong>
</div>

<script>
    //Filter/Search List Reference: https://www.w3schools.com/howto/howto_js_filter_lists.asp provided by W3 schools
    function myFunction() {
        // Declare variables
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById('searchField');
        filter = input.value.toUpperCase();
        ul = document.getElementById("namesList");
        li = ul.getElementsByTagName('li');

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
</script>