@model CourseEditVM
<div class="container col-6" style="overflow-y: scroll; height:400px;">
    <div class="container p-3">
        <input type="text" id="searchField" onkeyup="searchList()" placeholder="Search user by name...">
    </div>
    <ul class="list-unstyled" id="list">
        @{
            var name = "";
            if (Model.Users.Count > 0)
            {
                @foreach (var uc in Model.Users)
                {
                    if (!(uc.User.DisplayName == default))
                    {
                        // name is DisplayName
                        name = uc.User.DisplayName;
                    }
                    else
                    {
                        // name is User's First and Id
                        name = $"{uc.User.FirstName}_{uc.User.Id}";
                    }
                    <li class="list-group-item"> <a href="#">@name<i class="fas fa-envelope float-right align-baseline"></i></a></li>

                }
            }
            else
            {
                <li>There are no users registered for this course</li>
            }
        }
    </ul>
</div>
<div class="container col-6">
    <strong>@($"Users currently registered for this course: { Model.Users.Count}")</strong>
</div>
<script src="~/js/search-list.js"></script>